*,
html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.img-logo{
    width: 200%;
}

.li-navbar-gambar{
    width: 2%;
    list-style-type: none;
}

.container-navbar{
    position:sticky;
    width: 100%;
    height: 15vh;
    background-color: rgb(255, 255, 255);
}

.container-navbar.scrolled {
    top: -60px; /* Ubah nilai ini sesuai dengan tinggi navbar Anda */
}

.ul-navbar{
    z-index: 1;
    position: absolute;
    left: 15px;
    display: flex;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
}

.a-navbar-kanan{
    text-decoration: none;
    color: black;
}

.a-navbar-kanan:hover{
    text-decoration: underline;
}

.a-navbar{
    color: black;
    text-decoration: none;
}

.a-navbar:hover{
    text-decoration: underline;
}

.li-navbar{
    list-style-type: none;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 120px;
    z-index: 1;
}

.dropdown-content li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block; /* Tampilkan dropdown saat mengarahkan kursor mouse ke menu dropdown */
}

.li-navbar-masuk{
    border: 2px solid black;
    list-style-type: none;
    font-size: 20px;
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
}

.a-perusahaan{
    text-decoration: none;
    color: blue;
}

.li-navbar-masuk:hover{
    background-color: #cffbf3;
    transition: .2s ease-in-out;
    transition-delay: .1s;
    border-radius: 15px;
}

.ul-kanan{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    left: 100px;
    height: 100px;
}

/* ========================================website content======================================================= */

.container-content{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.profile {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.profile-header {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-details {
    flex-grow: 1;
}

.username {
    font-size: 24px;
    margin: 0;
}

.job-title {
    font-size: 18px;
    margin: 5px 0;
    color: #666;
}

.profile-bio {
    font-size: 16px;
}

.profile-actions {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.profile-work {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.container-grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100%;
    margin-bottom: 20px;
}

.h1-grid{
    font-size: 25px;
}

.work-experience{
    font-size: 30px;
    margin-bottom: 30px;
}

.profile-kanan {
    max-width: 450px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.img-review{
    width: 90%;
    -webkit-user-drag: none;
}

img{
    -webkit-user-drag: none;
}

.h2-general-information{
    margin-bottom: 20px;
}

.followers{
    opacity: 50%;
    margin-bottom: 20px;
}

.container-navbar ul li a,
.container-navbar ul li a:after,
.container-navbar ul li a:before {
    transition: all .5s;
}
.container-navbar ul li a:hover {
    color:#E34F25;
}

/* stroke */
.container-navbar.stroke ul li a
{
    position: relative;
}
.container-navbar.stroke ul li a:after,
.container-navbar ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #E34F25;
    height: 1px;
}
.container-navbar.stroke ul li a:hover:after {
    width: 100%;
}

.container-navbar ul li a {
    transition: all 1s;
}

.container-navbar ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}
.container-navbar ul li a:hover {
    color: #E34F25;
    z-index: 1;
}
.container-navbar ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    opacity: 1;
}