*,
html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.img-logo{
    width: 200%;
}

.li-navbar-gambar{
    width: 2%;
    list-style-type: none;
}

.container-navbar{
    width: 100%;
    height: 15vh;
    background-color: rgb(255, 255, 255);
}

.ul-navbar{
    z-index: 1;
    position: absolute;
    left: 15px;
    display: flex;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
}

.a-navbar{
    color: black;
    text-decoration: none;
}

.li-navbar{
    list-style-type: none;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.a-navbar-kanan:hover{
    text-decoration: underline;
}

.a-navbar:hover{
    text-decoration: underline;
}

.li-navbar-masuk{
    border: 2px solid black;
    list-style-type: none;
    font-size: 20px;
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
}

.a-perusahaan{
    text-decoration: none;
    color: blue;
}

.li-navbar-masuk:hover{
    background-color: #cffbf3;
    transition: .2s ease-in-out;
    transition-delay: .1s;
    border-radius: 15px;
}

.ul-kanan{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    left: 100px;
    height: 100px;
}

body {
	background-color: #f8fafc;
}

.container {
	padding: 2rem;
}

.slider-wrapper {
	position: relative;
	max-width: 48rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

.container-content{
    height: 1000px;
}

.grid-content{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 100px;
    height: 150px;
}

.grid-kiri{
    background-color: #E3E3E3;
    border-radius: 10px;
    margin-left: 30px;
}

.grid-tengah{
    background-color: #E3E3E3;
    border-radius: 10px;
}

.grid-kanan{
    background-color: #E3E3E3;
    border-radius: 10px;
    margin-right: 30px;
}

.container-grid2{
    width: 350px;
    position: relative;
    bottom: -30px;
    left: 35px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}

.h1-kanan{
    font-size: 20px;
}

.grid{
    -webkit-user-drag: none;
    user-select: none;
}

.h1-content{
    font-size: 20px;
    position: relative;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.ul-content{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 35px;
}

.li-content{
    list-style-type: none;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
}

.pelapis{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 240px;
    background-color: #FFC5C5;
    border-radius: 20px;
}

.pelapis:hover{
    transform: scale(1.15);
    transition: 0.3s ease;
}

.a-content{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.h1-content-bawah{
    font-size: 20px;
    position: relative;
    margin-top: 100px;
    margin-left: 30px;
}

.p-content-bawah{
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
}

.solar--alt-arrow-up-linear {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m19 15l-7-6l-7 6'/%3E%3C/svg%3E");
    rotate: 180deg;
}

.p-content-bawah2{
    position: relative;
    margin-left: 200px;
}

.lihat-semua{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 200px;
}

.news{
    width: 100%;
    -webkit-user-drag: none;
}

.gridutama{
    position: relative;
    left: 110px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    width: 85vw;
    background-color: #5464BD;
}

.h1-banner-kiri{
    color:#e6eafc;
    text-align:left;
    vertical-align:text-top;
    font-size:34px;
    font-family:Arial;
    line-height:29.79199981689453px;
    border-style:hidden;
    outline:none;
    width:700px;
    margin-bottom: 30px;
}

.p-banner-kiri{
    color:#e6eafc;
    text-align:left;
    vertical-align:text-top;
    font-size:16px;
    font-family:Arial;
    line-height:24.527999877929688px;
    border-style:hidden;
    outline:none;
    width:804px;
    margin-bottom: 15px;
}

.banner-kiri{
    position: relative;
    left: 10%;
    top: 30%;
}


.banner-kanan{
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-alat-wawancara{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: #E4E8ED;
    border-radius: 10px;
}

.a-alat{
    text-decoration: none;
    color: #2E3849;
}

.container-alat-wawancara:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}

.container-news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 300px;
    margin-left: 50px;
}

.li-news{
    list-style-type: none;
    margin: 20px;
}

.a-news{
    text-decoration: none;
    color: #2E3849;
}

.a-news:hover{
    text-decoration: underline;
}

.h1-news{
    font-size: 20px;
    position: relative;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.container-navbar ul li a,
.container-navbar ul li a:after,
.container-navbar ul li a:before {
    transition: all .5s;
}
.container-navbar ul li a:hover {
    color:#E34F25;
}

/* stroke */
.container-navbar.stroke ul li a
{
    position: relative;
}
.container-navbar.stroke ul li a:after,
.container-navbar ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #E34F25;
    height: 1px;
}
.container-navbar.stroke ul li a:hover:after {
    width: 100%;
}

.container-navbar ul li a {
    transition: all 1s;
}

.container-navbar ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}
.container-navbar ul li a:hover {
    color: #E34F25;
    z-index: 1;
}
.container-navbar ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    opacity: 1;
}